.info_perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    h1{
        margin-bottom: 0 !important;
    }
    hr{
        width: 100%;
        border: .5px solid #00000075;
        margin: 0 !important;
    }
    &_usuario {
        font-size: large;
        font-weight: 600;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 15px;

        div {
            display: flex;
            flex-direction: column;
        }

        &-img{
            grid-area: 1 / 2 / 3 / 3;
            width: 200px;
            height: 200px;
            img{
                object-fit: cover;
                border-radius: 50%;
            }
            &-edit{
                cursor: pointer;
                &:hover{
                    color: #136a41;
                    scale: 1.1;
                }
            }
        }

        &-lugar {
            flex-direction: row !important;
            gap: 15px;
        }
    }
    &-btnEditar{
        line-height: 30px;
        text-align: center;
        margin-bottom: 50px;
        background-color: #6c6c71;
        width: 100px;
        height: 30px;
        border-radius: 7px;
        border: none;
        color: #fff;
        &:hover{
            color: #fff;
            text-decoration: none;
            background-color: #6868eb;
            scale: 1.1;
        }
    }
    &-btnsEdit{
        margin-bottom: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        &-aceptar{
            background-color: #198754;
            border-radius: 7px;
            border: none;
            width: 100px;
            height: 30px;
            color: #fff;
            &:hover{
                background-color: #136a41;
                scale: 1.1;
                color: #fff;
            }
        }
        &-cancelar{
            line-height: 30px;
            color: #fff;
            text-align: center;
            background-color: #dc3545;
            border-radius: 7px;
            border: none;
            width: 100px;
            height: 30px;
            &:hover{
                background-color: #982430;
                color: #fff;
                text-decoration: none;
                scale: 1.1;
            }
        }
    }
}